/* AGRANDISSEMENT MENU GLOBAL */

 .zoom_menu:hover{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-animation: agrandir 5s ease;
    -webkit-animation-delay: 120ms;
}


 @keyframes agrandir {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(1.3);
        opacity: .5;
    }


    100%{
        -webkit-transform: scale(1);
        opacity: .8;
    }
}


 @-webkit-keyframes agrandir {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(1.3);
        opacity: .5;
    }


    100%{
        -webkit-transform: scale(1);
        opacity: .8;
    }
}


 @-moz-keyframes agrandir {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(1.3);
        opacity: .5;
    }


    100%{
        -webkit-transform: scale(1);
        opacity: .8;
    }
}



/*ANIMATION TROIS POINTS*/

.point{
    animation: bouton 1.4s infinite;
}

@keyframes bouton{
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

 .point:nth-child(1) { 
    animation-delay: 0s;
}

.point:nth-child(2) { 
    animation-delay: .4s;
} 

.point:nth-child(3) { 
    animation-delay: .8s;
} 

@-webkit-keyframes bouton{
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
    }
}

 .point:nth-child(1) { 
    -webkit-animation-delay: 0s;
}

.point:nth-child(2) { 
    -webkit-animation-delay: .4s;
} 

.point:nth-child(3) { 
    -webkit-animation-delay: .8s;
} 

@-moz-keyframes bouton{
    0% {
        opacity: 1;
        -moz-transform: scale(1);
    }

    100% {
        opacity: 0;
        -moz-transform: scale(1.5);
    }
}

 .point:nth-child(1) { 
    -moz-animation-delay: 0s;
}

.point:nth-child(2) { 
    -moz-animation-delay: .4s;
} 

.point:nth-child(3) { 
    -moz-animation-delay: .8s;
} 

/* ANIMATION SOULIGNEMENT TITRE MENU*/

/*Soulignement menu la note enchantée*/
.souligne_note {
 padding-bottom: 5px;
 display:inline-block;
 background: linear-gradient(to top, rgba(61, 19, 25, 0.8)0%, rgba(61, 19, 25, 0.9)8%, transparent 5px)no-repeat;  
 background: -webkit-linear-gradient(to top, rgba(61, 19, 25, 0.8)0%, rgba(61, 19, 25, 0.9)8%, transparent 5px)no-repeat;  
 background: -moz-linear-gradient(to top, rgba(61, 19, 25, 0.8)0%, rgba(61, 19, 25, 0.9)8%, transparent 5px)no-repeat;  
 background-size: 0% 100%;
 transition: background-size 0.8s;
 -webkit-transition: background-size 0.8s;
 -moz-transition: background-size 0.8s;
}

.souligne_note:hover {
 background-size: 100% 100%;
}

/*Soulignement menu chic à la française*/



.souligne_chic {
 padding-bottom: 5px;
 display:inline-block;
 background: linear-gradient(to top, #a56799,#6e4ccc,#c67412,transparent 5px)no-repeat;
 background: -webkit-linear-gradient(to top, #a56799,#6e4ccc,#c67412,transparent 5px)no-repeat;
 background: -moz-linear-gradient(to top, #a56799,#6e4ccc,#c67412,transparent 5px)no-repeat;
 background-size: 0% 100%;
 transition: background-size 0.8s;
 -webkit-transition: background-size 0.8s;
 -moz-transition: background-size 0.8s;
}

.souligne_chic:hover {
 background-size: 100% 100%;
}

/*Soulignement menu délice des papilles*/
.souligne_delice {
 padding-bottom: 5px;
 display:inline-block;
 background: linear-gradient(to top, rgba(2, 40, 221, 0.8)0%, rgba(2, 40, 221, 0.9)8%, transparent 5px)no-repeat;  
 background: -webkit-linear-gradient(to top, rgba(2, 40, 221, 0.8)0%, rgba(2, 40, 221, 0.9)8%, transparent 5px)no-repeat;  
 background: -moz-linear-gradient(to top, rgba(2, 40, 221, 0.8)0%, rgba(2, 40, 221, 0.9)8%, transparent 5px)no-repeat; 
 background-size: 0% 100%;
 transition: background-size 0.8s;
 -webkit-transition: background-size 0.8s;
 -moz-transition: background-size 0.8s;
}

.souligne_delice:hover {
 background-size: 100% 100%;
}

/*Soulignement menu palette du goût*/
.souligne_palette {
 padding-bottom: 5px;
 display:inline-block;
 background: linear-gradient(to top, rgba(72, 155, 64, 0.8)0%, rgba(72, 155, 64, 0.9)8%, transparent 5px)no-repeat;  
 background: -webkit-linear-gradient(to top, rgba(72, 155, 64, 0.8)0%, rgba(72, 155, 64, 0.9)8%, transparent 5px)no-repeat;  
 background: -moz-linear-gradient(to top, rgba(72, 155, 64, 0.8)0%, rgba(72, 155, 64, 0.9)8%, transparent 5px)no-repeat;  
 background-size: 0% 100%;
 transition: background-size 0.8s;
 -webkit-transition: background-size 0.8s;
 -moz-transition: background-size 0.8s;
}

.souligne_palette:hover {
 background-size: 100% 100%;
}



/*FOOTER:MENTIONS LÉGALES AVEC UN EFFET SECOUÉ*/

@keyframes bounce{
  0%{transform:translate(2px,2px);}
  10%{transform:translate(-2px,-2px)}
  20%{transform:translate(2px,2px);}
  30%{transform:translate(-2px,-2px)}
  40%{transform:translate(2px,2px);}
  50%{transform:translate(-2px,-2px)}
  60%{transform:translate(2px,2px);}
  70%{transform:translate(-2px,-2px)}
  80%{transform:translate(2px,2px);}
  90%{transform:translate(-2px,-2px)}
  100%{transform:translate(2px,2px);}
}


footer a:hover{
 
  animation:bounce .1s infinite;
  -webkit-animation:bounce .1s infinite;
  -moz-animation:bounce .1s infinite;
}