* {
    padding: 0;
    margin: 0;
}

html, body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

.main_mention h1{
  font-size: 1.5em;	
  text-align: center;
  text-decoration: underline;
}

.main_mention h2{
  font-size: 1.3em;	
  text-decoration: underline;
}

.main_mention{
 width: 80%;
 margin: auto;
 padding: 3% 0 0 0;
 margin-bottom: 80px;
}

.main_mention article{
 text-align: center;
 width: 80%;
}

.main_mention p{
 padding: 2% 0 2% 0;
 line-height: 1.5em;	
}

.main_mention span{
 font-size: 1.3em;
 color: #fdcb46;	
}


@media all and (max-width: 767.98px){
   header h1{
    font-size: 1.6em;
   }

  .main_mention{
    padding-top:20px;
  }

}

@media all and (max-width: 375px){
   .main_mention{
     padding-top:20px;
   }

}
