/*titre du menu*/

.titre_palette{
	font-size: 1.8em;
    text-align: center;
    margin: 20px 0 10px 0;
}

main{
    font-family: 'Tillana', cursive;
	margin: auto;
	background-color: #fefefe;
	box-shadow: 0 0 10px lightgray;
	-webkit-box-shadow: 0 0 10px lightgray; 
	-moz-box-shadow: 0 0 10px lightgray; 
	height: 10%;  
	width: 70%;
	margin-bottom: 90px;
	overflow: auto;
    overflow-y: hidden;
}

main li{
	font-size: 1em;
}

.palette h2{
	 background: linear-gradient(to right, rgba(66,151,60,1) 0%,rgba(179,245,121,1) 48%,rgba(200,254,148,1) 100%); 
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	padding: 40px 2px 20px 3px;
	text-align: center;
    font-family: 'Kaushan Script', cursive;
	font-size: 2.7em;
}

.ensemble_palette{
	 width: 80%;
	 margin-bottom: 60px;

}

/*première liste menu delice des papilles */
.sous_palette{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 25px 0;

}

.sous_palette img{
	width: 30%;
	height: 20px;
	padding: 9px 0 0 0;
}

.sous_palette h3{
 	font-size: 1.5em;
 	color: #000000;
 }

.liste_palette{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #000000;
	padding: 5px 0 5px 0;
}

 main ul{
 	list-style: none;
 }

/*MEDIAQUERIES*/

 @media all and (min-width: 767.98px) and (max-width: 1024px){
    
    main{
    	width: 90%;
    }

    .ensemble_palette{
		width: 98%;
		text-align: center;
	}

}

@media all and (max-width: 767.98px){

	main{
		width: 90%;
	}

	.ensemble_palette{
		width: 98%;
		text-align: center;
	}

	.liste_palette{
		display: flex;
		flex-direction: column;
	}


    .sous_palette h3{
 	    font-size: 1.3em;
   }

   .sous_palette img{
	    padding: 4px 0 0 0;
}
}


 

 